<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netwintest.companyapp">

    <permission android:name="READ_DATABASE" android:label="@string/read_company_data"       android:protectionLevel="normal"></permission>
    <permission android:name="WRITE_DATABASE" android:label="@string/write_company_data" android:protectionLevel="normal"></permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AddEmployeeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EmployeeListActivity"></activity>

        <provider
            android:exported="true"
            android:authorities="com.netwintest.companyapp.companydata"
            android:name=".provider.CompanyDataProvider"
            android:readPermission="com.netwintest.companyapp.READ_DATABASE"
            android:writePermission="com.netwintest.companyapp.WRITE_DATABASE"
            />

    </application>

</manifest>